# Bader Temp files
temp/

# Node
node_modules/

# Visual Studio
.vs/

# Next.js
.next/
out/

# Environment files
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-error.log*

# OS
Thumbs.db
.DS_Store

# Editors
.vscode/
.idea/
CLAUDE.md
.claude/

.claude/settings.local.json
